<div class="container">
    <div class="row ">
        <div class="col-lg-4 col-md-4 col-sm-4 text-center ">
            <img src="{{drocerData1[0].image}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-lg-8 col-md-6 col-sm-8 mt-5">
            <div class="card-body">
                <h3 class="card-title">{{drocerData1[0].name}}</h3><br>
                <h2 class="card-title">{{drocerData1[0].price | currency:'INR'}}</h2>
                <p>{{drocerData1[0].details}}</p>
                <p class="card-text">Coming Soon</p>

                <div class="rating p-1">
                    <i class="fa fa-star text-success" *ngIf="drocerData1[0].rating > 0"></i>
                    <i class="fa fa-star text-success" *ngIf="drocerData1[0].rating > 1"></i>
                    <i class="fa fa-star text-success" *ngIf="drocerData1[0].rating > 2"></i>
                    <i class="fa fa-star text-success" *ngIf="drocerData1[0].rating > 3"></i>
                    <i class="fa fa-star text-success" *ngIf="drocerData1[0].rating > 4"></i>


                    <i class="fa fa-star" *ngIf="drocerData1[0].rating < 5"></i>
                    <i class="fa fa-star" *ngIf="drocerData1[0].rating < 4"></i>
                    <i class="fa fa-star" *ngIf="drocerData1[0].rating < 3"></i>
                    <i class="fa fa-star" *ngIf="drocerData1[0].rating < 2"></i>
                    <i class="fa fa-star" *ngIf="drocerData1[0].rating < 1"></i>

                </div>

                <button class="btn bg-primary text-white">Buy</button> &nbsp;&nbsp;
                <button class="btn bg-primary text-white">Add to Cart</button>
                <p class="card-text mt-3"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <button class="btn btn-primary" style="float:right;" routerLink="/grocery1">Back</button>
        </div>
        <div class="more d-flex" style="width: 34%" >
            <img src="{{drocerData1[0].image}}"  class="img-fluid rounded-start"  alt="...">
            <img src="{{drocerData1[0].image}}"  class="img-fluid rounded-start"  alt="...">
            <img src="{{drocerData1[0].image}}"  class="img-fluid rounded-start"  alt="...">

        </div>
    </div>
</div>




