 
<body>
   
    
    <!-- https://www.pngmart.com/files/21/Account-User-PNG-Photo.png -->

    <div class="full gradient-custom-2 text-black">
        <!-- <nav class="navbar container navbar-expand-lg navbar-light  pl-5">
            <img src=" https://images.squarespace-cdn.com/content/v1/60d1d7a6763e9a2b36d24b2a/1627487026001-87UCTGU72SML7VF2F69Y/Clients.png" alt="" style="width: 3%;">&nbsp;
            <a class="navbar-brand text-white one">Rakutentu</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse one ml-5" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active mr-3">
                        <a class="nav-link text-white bi bi-house" routerLink="/menu"><b>Home</b></a>
                    </li>
                </ul>
            </div>
        </nav> -->



        <div class=" bg-white back ml-3 mr-3 ">
            <div class="container pt-5">
                <div class="card wid"
                    style="border: 3px solid rgb(255, 255, 255);background-color: rgb(255, 255, 255);margin-left: 30%;width: 40%;height: 40%;">
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="https://images.squarespace-cdn.com/content/v1/60d1d7a6763e9a2b36d24b2a/1627487026001-87UCTGU72SML7VF2F69Y/Clients.png" style="width: 185px;" alt="logo">
                    </div>
                    <h4 class=" text-center" style="font-weight:600vh; font-size:25px; ">Welcome to Rakutentu</h4>
                    <form class="">
                        <p>Login your Account</p>

                        <div class="form-outline mb-4">
                            <input type="email" id="form2Example11" class="form-control" name="email"
                                [(ngModel)]="email" placeholder="Admin" />
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form2Example22">Password</label>
                            <input type="password" id="form2Example22" class="form-control" name="password"
                                [(ngModel)]="password" />
                        </div>
                        <div class="text-center pt-1 mb-5 pb-1">
                            <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" (click)="login()"
                                type="button">Log in</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>


    </div>

</body>

 